<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1> THIS IS THE TIMER</h1>
            <div>
                <p id="timer">0:10</p>
            </div>
            <button id="start-btn">
                START
            </button>
            
            <div id="game" style="display:none;">
                <div>
                    <p id="counter">0</p>
                </div>
                <button id="count-btn">
                    GO!
                </button>
            </div>
            
            <a title="send to Facebook" 
              href="http://www.facebook.com/sharer.php?s=100&p[title]=10%20Seconds%20To%Save%20Your%20Life&p[url]=duong-vu.com"
              target="_blank">
              Share on Facebook
            </a>
        </div>
    </div>
</div>