<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1> 10 SECS <br> TO SAVE <br> <span id="life">YOUR LIFE.</span></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <p id="timer">0:10</p>
            
            <button id="start-btn" class="btn btn-default">
                START            
            </button>
        </div>
        <div id="game" style="display:none;" class="col-md-12 text-center">
            <div>
                <p id="counter">0</p>
            </div>
            <button id="count-btn" class="btn btn-default">
                GO!
            </button>
        </div>
                
        <!--<a title="send to Facebook" -->
        <!--    id="share" style="display:none;">-->
        <!--    Share on Facebook-->
        <!--</a>-->
    </div>
</div>