@import 'https://fonts.googleapis.com/css?family=Roboto';

h1 {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 110px;
}

/*#life {*/
/*    color: #D98004;*/
/*}*/

#timer {
    
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 150px;
    color: #D98004;
}

#counter, #prompt {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
}

#mes-title {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 70px;
}

.mes-body {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 70px;
    line-height: 98%;
}

#count-btn, #start-btn, #share {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    border: none;
    padding: 9px 20px 9px 20px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    /*color: #D98004;*/
}

#count-btn:focus, #start-btn:focus {
    outline: none !important;
}
#main {
    margin-top: 50px;
}

#link a{
    color: #D98004 !important;
}

#share {
    margin-top:30px;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 40px;
    cursor: pointer;
    color : #3b5998;
}